{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dental Care</title>
        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link href= "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity= "sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
        <!-- Google fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" />

        {% comment %} <link rel="stylesheet" href="https://pyscript.net/releases/2022.12.1/pyscript.css" /> {% endcomment %}
        <script defer src="https://pyscript.net/releases/2022.12.1/pyscript.js"></script>

        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}" />
        <style>
            .scroller {
                overflow: auto;
                height: 100px;
                display: flex;
                flex-direction: column-reverse;
                overflow-anchor: auto !important; /*  See https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-anchor */
            }
            
            .scroller .scroller-content .item {
                height: 20px;
                transform: translateZ(0); /* fixes a bug in Safari iOS where the scroller doesn't update */
            }
        </style>
    </head>
    <body id="page-top">

        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top shadow-sm" id="mainNav" style="background-color: #789ac0;">
            <div class="container px-5">
                <a class="navbar-brand fw-bold" href="#page-top">
                    <img src="https://www.pngkey.com/png/full/986-9860488_631-x-531-26-0-1-dental-clinic.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    Dental Care
                </a>
                <div class="form-inline">
                    <div class="d-flex align-items-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                        alt="avatar 3" style="width: 30px; height: 80%; margin-left: 10px; margin-right: 5px;">
                        <a class="navbar-text text-white" href="#" style="margin-right: 10px;" aria-expanded="false">
                           {{request.user.username}}
                        </a>
                        
                        {% if request.user.is_authenticated %}
                        |
                        <a class="navbar-text" style="margin-left: 10px;" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                            <a class="navbar-text" style="margin-left: 10px; margin-right: 10px;" href="{% url 'login' %}">Login</a>
                            |
                            <a class="navbar-text" style="margin-left: 10px;" href="{% url 'signup' %}">Signup</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        <!-- Mashead header-->
        <header class="masthead">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <!-- Mashead text and app badges-->
                        <div class="mb-5 mb-lg-0 text-center text-lg-start">
                            <h1 class="display-1 lh-1 mb-3">Dental Care</h1>
                            <p class="lead fw-normal text-muted mb-5">
                                Our user-friendly website makes scheduling your next dental appointment a breeze. 
                                Say goodbye to waiting on hold or navigating complicated phone menus—simply interact with our intuitive chatbot. 
                                Book your appointment with confidence, and let us pave the way to a healthier, happier smile. 
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!-- Masthead device mockup feature-->
                        <div class="masthead-device-mockup">
                            <img src="{% static 'images\dentist.svg' %}" alt="SVG image" width="850" height="530">
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="chat-btn"> <!-- for chatbot -->
            <input type="checkbox" id="check"> 
            <label class="chat-btn" for="check"> 
                <i class="fas fa-comments"></i>
            </label> 
            <div class="wrapper"> 
                <div class="header">
                    <h6 class="align-items-center">Quicare</h6> 
                </div> 

                <!-- Start of conversation -->
                {% comment %} <div class="scroller"> {% endcomment %}
                    {% comment %} <div class="scroller-content" id="scrollerContent"> {% endcomment %}
                <div class="card-body scroller" data-perfect-scrollbar="true" style="position: relative; height: 330px; overflow-y: auto;">
                    <!-- Welcome message -->
                    <ul class="list-unstyled messages-list">

                        {% comment %} default chat {% endcomment %}
                        <div class="d-flex flex-row justify-content-start" style="margin-top: 30px;"> 
                            <img  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava5-bg.webp"
                                alt="avatar 3" style="width: 30px; height: 80%; margin-left: 10px; margin-right: 5px;">
                  
                            <div class="header text-black" style="padding: 10px; font-size: 13px; background-color: white;"> 
                                <span>Hi {{request.user.username}}!</span>
                                <br>
                                <span>Wecome to Dental Care.</span>
                                <br>
                                <span>I'm here to help you with your appointment.</span>
                            </div>
                        </div>

                        <!-- User message -->
                        {% for chat in chats %}
                        {% if chat.user == request.user %}
                        
                        <div class="d-flex flex-row justify-content-end" style="margin-top: 30px; margin-left: 20px; margin-right: 30px;"> 
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                                alt="avatar 3" style="width: 30px; height: 80%; margin-left: 10px; margin-right: 5px;">
                            <div class="header" style="padding: 10px; font-size: 13px"> 
                                <li class="message sent" >
                                    <div class="message-text" >
                                    <div class="message-sender">
                                        <b>You</b>
                                    </div>
                                    <div class="message-content">
                                        {{chat.message}}
                                    </div>
                                    <br>
                                    <div class="message-content text-muted justify-content-end" id="message-content" style="font-size: 10px;"  data-value="{{chat.created_at}}">
                                        {{chat.created_at}}
                                    </div>
                                    </div>
                                </li>
                            </div>
                        </div>
                       
                        <!-- Chatbot message -->
                        <div class="d-flex flex-row justify-content-start" style="margin-top: 30px; margin-right: 30px;">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava5-bg.webp"
                                alt="avatar 3" style="width: 30px; height: 80%; margin-left: 10px; margin-right: 5px;">
                            
                            <div class="header text-black" style="padding: 10px; font-size: 13px; background-color: white;">
                                <div class="message-content">
                                    <li class="message received">
                                        <div class="message-text">
                                            <div class="message-sender">
                                                <b>Quicare</b>
                                            </div>
                                            <div class="message-content">
                                                {{chat.response}}
                                            </div>
                                            <br>
                                            <div class="message-content" id="message-content" data-value="{{chat.created_at}}"
                                                style="font-size: 10px;">
                                                {{chat.created_at}}
                                            </div>
                                        </div>                              
                                    </li>
                                </div>
                            </div> 
                        </div>
                            {% comment %} <div id="appt_button">
                                {% if "appointment" in chat.response %}
                                <button type="submit" class="btn-sm d-flex align-items-center" style="border: none;">
                                    Set Appointment
                                </button>
                                {% endif %}
                            </div> {% endcomment %}
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <!-- Spinner -->
                <div id="loadingModal" style="display: none;">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava5-bg.webp"
                    alt="avatar 3" style="width: 30px; height: 80%; margin-left: 10px; margin-right: 5px;">
                    <span class="text-muted" style="font-size: 13px; font-style: italic;">Thinking...</span>&nbsp;
                    <span class="spinner-border text-info spinner-border-sm" role="status" aria-hidden="true"></span>
                </div>
                <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                        alt="avatar 3" style="width: 30px; height: 80%; margin-right: 5px;">
                    <form onsubmit="openLoader(); return false; " class="message-form">
                        {% csrf_token %}
                      <!-- Spinner -->
                                                                        
                      <div id="loadingModal" style="display: none;">
                        <button class="btn btn-primary" type="button" disabled>
                          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                          thinking...
                        </button>
                    </div>
                        <div class="input-group" style="display: flex;">
                            <input type="text" class="form-control form-control-sm d-flex message-input" placeholder="Type your message...">
                            <div class="input-group-append">
                                <button type="submit" class="btn-sm d-flex align-items-center" style="border: none;">
                                    <i class="fas fa-paper-plane" style="color: #789ac0 !important;"></i>
                                </button>
                            </div>
                        </div>       
                    </form>
                </div>
            </div>
        </div>
                <script src="{% static 'js/chatbot.js' %}"></script>
            </div>
            <py-script>

            def greetings(name):
                
                print(f'Hi, {name}')

            name = input()
            greetings(name)


            
        </py-script>
        </div> <!-- for chatbot END -->
        <br>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% for text_appt in appt%}
        {{text_appt.clinic_id}}
{% endfor %}
    </body>
</html>
