{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quicare</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SYopr4UpCvGq2RnE=" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}">


</head>
<body>
  <!-- Section: Design Block -->
  <section class="background-radial-gradient overflow-hidden">
        
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
            Dental Appointments <br />
            <span style="color: #866475">made easier for you</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          Our user-friendly website makes scheduling your next dental appointment a breeze. 
          Say goodbye to waiting on hold or navigating complicated phone menus—simply interact with our intuitive chatbot. 
          Book your appointment with confidence, and let us pave the way to a healthier, happier smile.
        </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
                <h2 class="fw-bold mb-5">Sign up</h2>

            <form method = "POST">
                {% csrf_token %}
                
                <div class="row g-3">
                  <div class="col">
                    <div class="input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-user"></i></span>
                      </div>
                      {{ form.first_name }}
                    </div>
                    <br>
                  </div>
                  
                  <div class="col">
                    <div class="input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-user"></i></span>
                      </div>
                      {{ form.last_name }}
                    </div>
                    <br>
                  </div>
                  
                  <div class="col-12">
                    <div class="input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-at"></i></span>
                      </div>
                      {{ form.email }}
                  </div>
                    <br>
                  </div>

                  <div class="col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user-tag"></i></span>
                        </div>
                        {{ form.username }}
                    </div>
                    <br>
                  </div>

                  <div class="col-12">
                    <div class="input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-lock"></i></span>
                      </div>
                      {{ form.password1 }}
                  </div>
                    <br>
                  </div>

                  <div class="col-12">
                    <div class="input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-check-double"></i></span>
                      </div>
                      {{ form.password2 }}
                  </div>
                    <br>
                  </div>
                </div>
                <!-- Login button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
            </form>
            </div>
        </div>
        </div>
    </div>
    </div>
</section>
        <!-- Bootstrap and Font Awesome CDNs -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>     
</body>
</html>